.grid-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 80px, 200px;
    grid-row-gap: 5px;
    justify-content: center;
}
#header {
    text-align: center;
    border: solid black;
}
#navigation {
    background-color: black;
    border-top: solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
button {
    border: solid black;
    font-size: 20px;
    background-color: white;
}
p {
    text-align: center;
}
.codeContainer {
    display: flex;
    justify-content: center;
}
#code {
    width: 50%;
    height: 500px;
}