<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <h3>Programming Java</h3>
        <p>My java experience is limited to one semester 
        of a beginner's programming class. In this class, I worked with 
        different types of logic and sql to create different GUIs. The 
        project provided is a simple calculator that provided me with practice 
        for coding GUIs.<br><br>
        The code provided apart of a simple calculator GUI, and it's a good example of 
        my experience in coding GUIs in Java. In this GUI, a user enters two numbers and 
        selects whether they want to add, subtract, multiply, or divide the given numbers.</p>
        <embed src="../../codes/Java/Calculator.txt"
    </div>
</body>

</html>