<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <h3>Programming Javascript</h3>
        <p>I have a lot of work experience in base Javascript, Node.js 
        React, and Redux. I've also worked with implimenting database 
        functionality where authorized users are able to view, edit, 
        and delete information from a database.<br><br>
        The code below was used to populate a session cookie, it first
        creates a new cookie for the username using the input field,
        it then populates the username field to display the signed up
        user.</p>
        <embed src="../../codes/Javascript/script.txt">
    </div>
</body>

</html>