<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <h3>Programming PHP</h3>
        <p>I have only recently started working with PHP 
        as of May 3rd, 2020, however I feel confident in my ability to 
        code basic PHP. I've coded a couple projects dealing with basic 
        page switching, loops, and variable manipulation.<br><br>
        This PHP code was from a simple project that tested different
        methods of numeric manipulation.</p>
        <embed src="../../codes/PHP//index.txt">
    </div>
</body>

</html>