<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <h3>Programming SQL</h3>
        <p>The majority of my SQL experience comes from my experience with Java,
        PHP, and Javascript. My SQL projects involved creating scripts with
        different variables for easy access to a database and its information
        through the convenience of a GUI or webpage.<br><br>
        The provided scripts aren't from a specific project, rather a collection
        of different sql queries that demonstrate what I've worked with in the past.</p>
        <embed src="../../codes/SQL/queries.txt">
    </div>
</body>

</html>