<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <h3>Summary of experience</h3>
        <p>I am a Lone Jack High School senior 
        and apart of the MIC program. Over two years, I've
        learned to code in programming languages and tools like
        CSS, C++ Java, Javascript, HTML, PHP, and 
        SQL. I also have an internship 
        with NRCCUA, where I program in Javascript, 
        Node.js, and React.</p>
    </div>
</body>

</html>