<link rel="stylesheet" href="../../css/header.css">
<div class="grid-container">
    <div id="header">
        <div id="title">
            <h1>Charles Link</br>Student Portfolio</h1>
        </div>
        <div id="navigation">
            <a class="home" href="/">Summary</a>
            <a class="pages" href="/java">Java</a>
            <a class="pages" href="javascript">Javascript</a>
            <a class="pages" href="/php">PHP</a>
            <a class="pages" href="/sql">SQL</a>
        </div>
    </div>
</div>